/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* CSS VARIABLES */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --hue: 20;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(0, 5%, 42%);
    --text-color: hsl(0, 0%, 5%);
    --body-color: hsl(0, 0%, 98%);
    --container-color: hsl(0, 0%, 73%);

    /* Font and typography */
    --body-font: "Open Sans", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

    /* Responsive typography */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 2rem;
        --bigger-font-size: 1.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;    
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-weight: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}

.section__subtitle span {
    color: var(--first-color);
}

/* HEADER & NAVIGATION MENU */
.header {
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* MOBILE NAVIGATION */
@media screen and (max-width:1023px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsl(0, 0%, 89%);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);  /* SAFARI */
        transition: right 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Add blur to header */

/* Active link */

/* Tatiana Vladimirovna (TV) */
.tv {
    background-color: var(--container-color);
}

.tv__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.tv__content {
    display: grid;
    row-gap: 2rem;
}

.tv__data {
    text-align: center;
}

.tv__subtitle,
.tv__position {
    font-size: var(--first-color);
}

.tv__subtitle,
.tv__title {
    color: var(--first-color);
}

.tv__title {
    font-size: var(--bigger-font-size);
    font-weight: var(--font-semi-bold);
}

.tv__description {
    margin-block: 1rem 1.5rem;
}

.tv__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.tv__social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: 0.5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.4s;
}

.tv__social-link:hover {
    transform: translateY(-0.25rem);
}

.tv__image {
    justify-self: center;
}

.tv__blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/* BUTTON TV */

/* Natalia Sergeevna (NS) */

/* BUTTIN NS */

/* ABOUT SECTIONS */

/* CONTACT */

/* FOOTER */

/* SCROLL BAR */

/* SCROLL UP */

/* Show Scroll Up */


/* BREAKPOINTS */

/* For small devices */

/* For medium devices */

/* For large devices */