/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* CSS VARIABLES */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --hue: 20;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(0, 0%, 39%);
    --text-color: hsl(0, 0%, 5%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 56%);

    /* Font and typography */
    --body-font: "Open Sans", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

    /* Responsive typography */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 2rem;
        --bigger-font-size: 1.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;    
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-weight: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}

.section__subtitle span {
    color: var(--first-color);
}

/* HEADER & NAVIGATION MENU */
.header {
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* MOBILE NAVIGATION */
@media screen and (max-width:1023px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 0%, 0.6);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);  /* SAFARI */
        transition: right 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Add blur to header */
.blur-header {
    background: transparent;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);  /* SAFARI */
    top: 0;
    left: 0;
    z-index: -1;
}

/* Tatiana Vladimirovna (TV) */
.tv {
    background-color: var(--container-color);
}

.tv__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.tv__content {
    display: grid;
    row-gap: 2rem;
}

.tv__data {
    text-align: center;
}

.tv__subtitle,
.tv__position {
    font-size: var(--bigger-font-size);
}

.tv__subtitle span,
.tv__title {
    color: var(--first-color);
}

.tv__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}

.tv__description {
    margin-block: 1rem 1.5rem;
}

.tv__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.tv__social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: 0.5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.4s;
}

.tv__social-link:hover {
    transform: translateY(-0.25rem);
}

.tv__image {
    justify-self: center;
}

.tv__blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/* BUTTON */

.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow 0.4s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}

/* Natalia Sergeevna (NS) */
.ns__container {
    row-gap: 2.5rem;
}

.ns__content {
    display: grid;
    row-gap: 2rem;
}

.ns__data {
    text-align: center;
}

.ns__subtitle,
.ns__position {
    font-size: var(--bigger-font-size);
}

.ns__subtitle span,
.ns__title {
    color: var(--first-color);
}

.ns__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}

.ns__description {
    margin-block: 1rem 1.5rem;
}

.ns__image {
    justify-self: center;
}

.ns__blob {
    width: 320px;
}

.ns__blob path {
    stroke: var(--first-color);
}
/* ABOUT SECTIONS */
.overview__container {
    row-gap: 2rem;
    padding-block: 1rem;
}

.overview__card {
    text-align: center;
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--container-color);
    transition: border 0.4s;
}

.overview__icon {
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: 0.75rem;
}

.overview__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

.overview__card:hover {
    border: 2px solid var(--first-color);
}

/* PHOTOS */
.photos {
    background-color: var(--container-color);
}

.photos__container {
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}

.photos__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.photos__img {
    width: 100%;
    height: 100%;
}

.photos__modal {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                            hsla(0, 0%, 0% , 0) 0%,
                            hsla(var(--hue), 70%, 40%, 0.8) 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);  /* SAFARI */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom 0.4s;
}

.photos__subtitle {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: 0.25rem;
}

.photos__title {
    font-size: var(--h2-font-size);
    
}

.photos__card:hover .photos__modal {
    bottom: 0;
}

/* GUESTBOOK */
.guestbook__container {
    padding-top: 1rem;
}

.guestbook__form,
.guestbook__group {
    display: grid;
    row-gap: 1rem;
}

.guestbook__form {
    position: relative;
}

.guestbook__input {
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}

.guestbook__input::placeholder {
    color: var(--text-color);
}

.guestbook__form textarea {
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}

.guestbook__button {
    justify-self: center;
    cursor: pointer;
}

.guestbook__message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

/* FOOTER */

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: hsl(228, 7%, 35%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 45%);
}

/* SCROLL UP */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    padding: 6px;
    display: inline-flex;
    border-radius: 0.25rem;
    color: var(--first-color);
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(228, 15%, 8%, 0.4s);
    z-index: var(--z-tooltip);
    transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
    transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/* BREAKPOINTS */

/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .overview__card {
        padding-block: 1.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .tv__container,
    .ns__container,
    .overview__container,
    .photos__container,
    .guestbook__container {
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        width: 55%;
    }

    .tv__container,
    .ns__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .tv__data,
    .ns__data,
    :is(.ns__data) :is(.section__subtitle, .section__title) {
        text-align: initial;
    }

    .tv__social {
        justify-content: initial;
    }

    .tv__blob,
    .ns__blob {
        width: 400px;
    }

    .ns__content {
        order: 1;
    }

    .overview__container,
    .photos__container {
        grid-template-columns: repeat(2, 352px);
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem, 2rem;
    }

    .section__subtitle {
        font-size: var(--norma-font-size);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        width: initial;
    }

    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);  /* SAFARI */
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin: auto;
    }

    .tv__container {
        grid-template-columns: 455px 550px;
        column-gap: 7rem;
        padding-block: 2rem 3rem;
    }

    .tv__blob {
        width: 550px;
    }

    .tv__content {
        row-gap: 4.5rem;
    }

    .tv__description {
        margin-block: 1.5rem 2.5rem;
    }

    .tv__social {
        column-gap: 1.5rem;
    }

    .ns__container {
        grid-template-columns: 550px 460px;
        column-gap: 4.5rem;
        padding-bottom: 1rem;
    }

    .ns__blob {
        width: 550px;
    }

    .ns__description {
        margin-bottom: 3rem;
    }

    .overview__container {
        grid-template-columns: repeat(2, 400px);
        padding-block: 2.5rem 4rem;
    }

    .overview__card {
        padding: 3.5rem 2rem;
    }

    .photos__container {
        grid-template-columns: repeat(3, 350px);
        row-gap: 3rem;
        padding-block: 2.5rem 4rem;
    }

    .guestbook__container {
        grid-template-columns: 680px;
        padding-block: 2.5rem 2rem;
    }

    .guestbook__form {
        row-gap: 1.5rem;
    }

    .guestbook__group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

    .guestbook__input {
        padding: 1.5rem;
    }

    .guestbook__form textarea {
        height: 20rem;
    }

    .scrollup {
        right: 3rem;
    }
}