/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* CSS VARIABLES */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --hue: 4;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(4, 77%, 61%);
    --text-color: hsl(45, 2%, 55%);
    --body-color: hsl(47, 25%, 89%);
    --container-color: hsl(35, 40%, 75%);

    /* Font and typography */
    --body-font: "Open Sans", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

    /* Responsive typography */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 2rem;
        --bigger-font-size: 1.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;    
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-weight: var(--h1-font-size);
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
}

.section__subtitle span {
    color: var(--first-color);
}

/* HEADER & NAVIGATION MENU */
.header {
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* MOBILE NAVIGATION */
@media screen and (max-width:1023px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 0%, 0.6);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);  /* SAFARI */
        transition: right 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color 0.4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Add blur to header */
.blur-header {
    background: transparent;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);  /* SAFARI */
    top: 0;
    left: 0;
    z-index: -1;
}

/* Tatiana Vladimirovna (TV) */
.tv {
    background-color: var(--container-color);
}

.tv__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.tv__content {
    display: grid;
    row-gap: 2rem;
}

.tv__data {
    text-align: center;
}

.tv__position {
    margin-top: 10rem;
}

.tv__list dt {
    float: left;
    font-weight: var(--font-semi-bold);
}

.tv__list dd {
    padding-left: 6.25rem;
}

.tv__list dd:not(:last-child) {
    margin-bottom: 0.94rem;
}

.tv__subtitle,
.tv__position {
    font-size: var(--bigger-font-size);
}

.tv__subtitle span,
.tv__title {
    color: var(--first-color);
}

.tv__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}

.tv__description {
    margin-block: 1rem 1.5rem;
}

.tv__image {
    justify-self: center;
}

.tv__blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/* QUALIFICATION */
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: 0.25rem;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.qualification__calendar {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}

/* ACTIVITIES */
.activities__container {
    row-gap: 2rem;
    padding-block: 1rem;
}

.activities__card {
    text-align: center;
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--container-color);
    transition: border 0.4s;
}

.activities__icon {
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: 0.75rem;
}

.activities__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

.activities__card:hover {
    border: 2px solid var(--first-color);
}
 
/* FOOTER */
.footer {
    background-color: var(--container-color);
    padding-block: 3.5rem 2rem;
}

.footer__container {
    row-gap: 1.5rem;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.25rem;
}

.footer__title span {
    color: var(--first-color);
}

.footer__description {
    font-size: var(--normal-font-size);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    display: flex;
    padding: 0.5rem;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    transition: transform 0.4s;
}

.footer__social-link:hover {
    transform: translateY(0.25rem);
}

.footer__copy {
    font-size: var(--small-font-size);
}

/* BREAKPOINTS */

/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .activities__card {
        padding-block: 1.5rem;
    }

}

/* For medium devices */
@media screen and (min-width: 576px) {
    .tv__container,
    .activities__container {
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (max-width: 682px){
    .footer__social {
        display: flex;
        flex-direction: column;
    }

    .footer__social-link {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        width: 55%;
    }

    .tv__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .tv__blob {
        width: 400px;
    }

    .activities__container {
        grid-template-columns: repeat(2, 352px);
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem, 2rem;
    }

    .section__subtitle {
        font-size: var(--normal-font-size);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        width: initial;
    }

    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);  /* SAFARI */
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin: auto;
    }

    .tv__container {
        grid-template-columns: 455px 550px;
        column-gap: 7rem;
        padding-block: 2rem 3rem;
    }

    .tv__blob {
        width: 550px;
    }

    .tv__content {
        row-gap: 4.5rem;
    }

    .tv__description {
        margin-block: 1.5rem 2.5rem;
    }

    .tv__social {
        column-gap: 1.5rem;
    }

    .activities__container {
        grid-template-columns: repeat(2, 400px);
        padding-block: 2.5rem 4rem;
    }

    .activities__card {
        padding: 3.5rem 2rem;
    }

    .scrollup {
        right: 3rem;
    }
}